################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/countyfeecollections/bin/Debug
/src/countyfeecollections/obj/Debug
/src/.vs
